<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>

<body>
    <div class="body">
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="collapsable">
                            <!-- Delivery Service Panel -->
                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapseDelivery"
                                            onclick="changeIcon(this)" class="collapsed">
                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>
                                            Delivery Service
                                            <i class="icon icon-caret-right" style="float: right;padding-top:5px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseDelivery" class="panel-collapse collapse">
                                    <div class="col-md-12" style="padding-top: 2%; padding-bottom: 2%;">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="feature-box">
                                                    <div class="feature-box-icon">
                                                        <i class="fas fa-box" style="margin-top: 30%;"></i>
                                                    </div>
                                                    <div class="feature-box-info">
                                                        <h4 class="shorter">Parcel delivery is $15</h4>
                                                        <p class="tall">Order up to a weight of 40kg, and a maximum
                                                            length per item of 1.8 meters.</p>
                                                        <ul>
                                                            <li>Parcel size: (L)59cm x (W)34cm x (H)39cm</li>
                                                        </ul>
                                                        <p><strong>Delivery will take place within 3-5 working
                                                                days.</strong><br>Parcel delivery time: 9am - 6pm.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="feature-box">
                                                    <div class="feature-box-icon">
                                                        <i class="fas fa-truck" style="margin-top: 30%;"></i>
                                                    </div>
                                                    <div class="feature-box-info">
                                                        <h4 class="shorter">Truck delivery is $35</h4>
                                                        <p class="tall"><strong>Delivery typically takes place within
                                                                2-5 days from the date of order.</strong></p>
                                                        <ul>
                                                            <li>Please note for truck delivery, an additional flat rate
                                                                of $20 will apply if there is no lift access, or if
                                                                items cannot fit in the lift at the delivery address
                                                                located in a building from the 3rd floor onwards. This
                                                                service is applicable up to the 5th floor only. Please
                                                                pay the fee directly to the service provider.</li>
                                                            <li>Please note that drilling services are only available
                                                                with assembly purchases. Delivery-only purchases are not
                                                                applicable for drilling services.</li>
                                                            <li>Please note that during major holiday seasons*, please
                                                                allow an extra 1-3 business days for processing time on
                                                                truck and parcel delivery orders due to the high peak of
                                                                orders.<br><sup><em>*Chinese New Year, Hari Raya Puasa,
                                                                        Deepavali, Christmas, etc.</em></sup></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Assembly Service Panel -->
                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapseAssembly"
                                            onclick="changeIcon(this)" class="collapsed">
                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>
                                            Assembly Service
                                            <i class="icon icon-caret-right" style="float: right;padding-top:5px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseAssembly" class="panel-collapse collapse">
                                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                                        <div class="col-md-12">
                                            <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="fas fa-dolly" style="margin-top: 35%;"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4>Service Fees</h4>
                                                    <p>1. All other furniture that requires assembly: 20% of the
                                                        original product's retail price.</p>
                                                    <p>2. Sofa and Sofa bed assembly: 10% of the original product's
                                                        retail price.</p>
                                                    <p>3. A $5 charge per drilled hole applies to products, which
                                                        require to be wall-mounted.</p>
                                                    <p>4. Drilling services are only available with assembly purchases.
                                                    </p>
                                                    <p>5. Integrated light assembly will only be available with
                                                        purchases of PAX wardrobe assembly services in stores.</p>
                                                    <em>* Electric and plumbing work is not included in assembly
                                                        services. Actual drilling costs depend on the situation at your
                                                        premises.</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Planning Guide and Tools Panel -->
                            <div class="panel panel-default toggle" style="margin-bottom:10px;">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a data-toggle="collapse" data-parent="#collapsable" href="#collapsePlanning"
                                            onclick="changeIcon(this)" class="collapsed">
                                            <i class="icon icon-plus plusMinusIcon" style="font-size: 0.7em;"></i>
                                            Planning Guide and Tools
                                            <i class="icon icon-caret-right" style="float: right;padding-top:5px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapsePlanning" class="panel-collapse collapse">
                                    <div class="col-md-12" style="padding-top: 2%; padding-bottom: 2%;">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="feature-box">
                                                    <div class="feature-box-icon">
                                                        <i class="fas fa-lightbulb" style="margin-top: 30%;"></i>
                                                    </div>
                                                    <div class="feature-box-info">
                                                        <h4>For Online Purchases: </h4>
                                                        <p class="tall">For online purchases on IslandFurniture.sg, you
                                                            can select to pay with our Instalment Payment Plan during
                                                            checkout. Valid for credit cards issued by UOB, Arnex, and
                                                            OCBC.</p>
                                                        <ul>
                                                            <li><strong>6 months</strong> for a minimum
                                                                <strong>$250.</strong>
                                                            </li>
                                                            <li><strong>12 months</strong> for a minimum
                                                                <strong>$500.</strong>
                                                            </li>
                                                            <li><strong>24 months</strong> for a minimum
                                                                <strong>$2,000.</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="feature-box">
                                                    <div class="feature-box-icon">
                                                        <i class="fas fa-sun" style="margin-top: 30%;"></i>
                                                    </div>
                                                    <div class="feature-box-info">
                                                        <h4 class="shorter">For In-Store Purchases</h4>
                                                        <p class="tall">Simply inform the cashier that you would like to
                                                            put your purchases on our Instalment Payment Plan. Valid for
                                                            credit cards issued by DBS/POSB, OCBC, UOB, and American
                                                            Express.</p>
                                                        <p>0% Instalment Payment Plan (IPP) is available for the
                                                            following period:</p>
                                                        <ul>
                                                            <li><strong>6 months</strong> for a minimum
                                                                <strong>$250.</strong>
                                                            </li>
                                                            <li><strong>12 months</strong> for a minimum
                                                                <strong>$500.</strong>
                                                            </li>
                                                            <li><strong>24 months</strong> for a minimum
                                                                <strong>$2,000.</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="tall" />
                            <!-- Feedback Form -->
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="row" style="min-height: 500px;">
                                        <div class="tabs">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#assembly" data-toggle="tab"><i
                                                            class="icon icon-clipboard"></i>
                                                        Feedback Form</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="overview" class="tab-pane active">
                                                    <form id="feedbackForm" onsubmit="return false;">
                                                        <h4>Feedback</h4>

                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input class="form-control" required="true" id="name"
                                                                type="text" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control" required="true" id="email" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input class="form-control" type="text" id="subject" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Messages</label>
                                                            <input class="form-control" type="text" id="message" />
                                                        </div>

                                                        <div class="panel-footer" style="padding-bottom: 0px;">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <input type="submit" value="Submit"
                                                                        class="btn btn-primary"
                                                                        onclick="addToFeedback()"></input>
                                                                    <input type="reset" value="Reset"
                                                                        class="btn btn-primary"></input>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="alert alert-success" id="feedbackSuccess"
                                                            style="display:none;">
                                                            <strong>Success!</strong>Thank you for your feedback! :]
                                                        </div>
                                                    </form>
                                                </div>





                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../footer.js"></script>


    <script>
        function changeIcon(e) {
            var currentIcon = e.querySelector('i');
            var opened = currentIcon.classList.contains('icon-minus');
            var otherIcons = document.querySelectorAll('.plusMinusIcon');

            otherIcons.forEach(function (icon) {
                if (icon.classList.contains('icon-minus')) {
                    icon.classList.replace('icon-minus', 'icon-plus');
                }
            });

            if (opened) {
                currentIcon.classList.replace('icon-minus', 'icon-plus');
            } else {
                currentIcon.classList.replace('icon-plus', 'icon-minus');
            }
        }

        function addToFeedback() {
            if (document.getElementById("feedbackForm").checkValidity()) {
                document.getElementById("feedbackSuccess").style.display = "block";
                setTimeout(function () {
                    document.getElementById("feedbackSuccess").style.display = "none";
                    document.getElementById("feedbackForm").reset();
                }, 1000);
                // Optionally, refresh the feedback table here.
            } else {
                document.getElementById("feedbackSuccess").style.display = "none";
            }
        }

    </script>



</body>

</html>